---
interface Props {
	height?: number;
	width?: number;
	color?: string;
}

const { height, width, color = "black" } = Astro.props;
---

<svg
	width={width ?? "100%"}
	height={height ?? "100%"}
	viewBox="0 0 70 20"
	fill="none"
	xmlns="http://www.w3.org/2000/svg"
>
	<title>AR</title>
	<path
		d="M8.096 3.192L9.968 5.352L2.12 10.872V9.672L9.968 15.168L8.096 17.328L0.08 11.544V9L8.096 3.192ZM11.5749 18L16.8789 2.424H20.4309L25.5189 18H22.5429L21.4629 14.64H15.6789L14.5749 18H11.5749ZM16.3989 12.504H20.7909L18.6069 5.808L16.3989 12.504ZM28.3023 18V2.424H34.0623C35.9263 2.424 37.3543 2.86 38.3463 3.732C39.3463 4.604 39.8463 5.76 39.8463 7.2C39.8463 8.616 39.3463 9.76 38.3463 10.632C37.3543 11.496 35.9263 11.928 34.0623 11.928H31.1343V18H28.3023ZM36.7263 18L32.5983 10.704H35.6223L40.4223 18H36.7263ZM31.1343 10.032H33.7743C34.8143 10.032 35.6023 9.796 36.1383 9.324C36.6743 8.844 36.9423 8.224 36.9423 7.464C36.9423 6.688 36.6983 6.064 36.2103 5.592C35.7223 5.112 35.0063 4.872 34.0623 4.872H31.1343V10.032ZM48.8579 19.92L55.0259 0.119998H57.9299L51.7139 19.92H48.8579ZM61.8583 17.328L59.9863 15.168L67.8103 9.672V10.872L59.9863 5.352L61.8583 3.192L69.8743 9V11.544L61.8583 17.328Z"
		fill={color}></path>
</svg>
