---
import NavBar from "@/components/NavBar.astro";
import AboutMe from "@/components/sections/AboutMe.astro";
import Expirience from "@/components/sections/Expirience.astro";
import Hero from "@/components/sections/Hero.astro";
import Projects from "@/components/sections/Projects.astro";
import Layout from "@/layouts/Layout.astro";
import "@/styles/globals.css";
---

<Layout title="Alvaro Resplandor">
	<div class="relative min-h-screen">
		<header
			class="sticky top-0 z-50 flex w-full items-center bg-background/95 py-2.5 backdrop-blur supports-[backdrop-filter]:bg-background/60"
		>
			<NavBar />
		</header>

		<main>
			<Hero />

			<AboutMe />

			<Expirience />

			<Projects />
		</main>
	</div>
</Layout>
