---
import { cn } from "@/lib/utils";

interface Props {
	title?: string;
	titleId?: string;
	className?: astroHTML.JSX.HTMLAttributes["class"];
}

const { title, titleId, className } = Astro.props;
---

<section class={cn("container", className)}>
	{
		title ? (
			<h2 class="mb-6 font-karla text-3xl font-bold" id={titleId}>
				{title}
			</h2>
		) : null
	}

	<slot />
</section>
